go 1.26

use (
	./compilers/go
	./conformance
	./examples/end2end-example/go
	./examples/end2end-example/webapp
	./examples/end2end-example/webapp-blackjack
	./examples/go
	./integration/go
	./packages/runar-go
)
